/* Estilo general del contenedor */
.rick-morty-container {
    background-color: #1d1d1d; /* Fondo oscuro */
    padding: 20px;
    border-radius: 15px;
  }
  
  /* Estilo de las tarjetas de personajes */
  .rick-morty-card {
    background-color: #2c2c2c; /* Fondo de la tarjeta */
    border: 2px solid #76ff03; /* Borde verde neón */
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(118, 255, 3, 0.3); /* Sombra verde neón suave */
  }
  
  .rick-morty-card:hover {
    transform: scale(1.05); /* Efecto de agrandar ligeramente al pasar el mouse */
    box-shadow: 0 0 25px rgba(118, 255, 3, 0.7); /* Sombra más fuerte al hacer hover */
  }
  
  /* Estilo de la imagen en la tarjeta */
  .rick-morty-card img {
    border-radius: 10px 10px 0 0; /* Redondear la parte superior */
  }
  
  /* Título del personaje */
  .rick-morty-card .card-title {
    color: #76ff03; /* Verde neón para los títulos */
    font-family: 'Orbitron', sans-serif; /* Fuente de estilo futurista */
    text-align: center;
  }
  
  /* Texto de los detalles del personaje */
  .rick-morty-card .card-text {
    color: #fff; /* Texto en blanco */
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5); /* Sombra en los textos */
  }
  
  /* Responsive - ajustar los tamaños en pantallas pequeñas */
  @media (max-width: 768px) {
    .rick-morty-container {
      padding: 10px;
    }
    
    .rick-morty-card {
      margin-bottom: 20px;
    }
  }
  