.character-container {
    background-color: #1d1d1d;
    padding: 20px;
    border-radius: 15px;
}

.rick-morty-pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rick-morty-pagination button {
    background-color: #76ff03;
    color: #1d1d1d;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-info {
    color: #76ff03; 
    margin: 0 15px; 
}

.rick-morty-pagination button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.rick-morty-pagination button:hover:not(:disabled) {
    background-color: #5bff00;
}
