<div class="character-container">
    <app-search (searchEvent)="onSearch($event)"></app-search>
    <app-character-list [characters]="characters"></app-character-list>
  
    <div class="rick-morty-pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      
      <span class="pagination-info">
        Page {{ currentPage }} of {{ totalPages }}
      </span>
      
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
  