<div class="container rick-morty-home">
    <h1 class="rick-morty-title">Rick and Morty API</h1>

    <app-filter (searchTerm)="onSearchTermChanged($event)" class="mt-10"></app-filter>

    <nav aria-label="Page navigation" class="rick-morty-pagination">
        <ul class="pagination justify-content-center align-items-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="previousPage()" [attr.aria-disabled]="currentPage === 1">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </li>

            <li class="page-item disabled">
                <span class="page-link">Página {{ currentPage }} de {{ totalPages }}</span>
            </li>
    
            <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link" (click)="nextPage()" [attr.aria-disabled]="currentPage === totalPages">
                    <i class="bi bi-arrow-right"></i>
                </a>
            </li>
        </ul>
    </nav>


    <app-content [characters]="characters" [searchTerm]="searchTerm"></app-content>

    <nav aria-label="Page navigation" class="rick-morty-pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="previousPage()" [attr.aria-disabled]="currentPage === 1">Previous</a>
            </li>

            <li class="page-item" *ngFor="let page of getVisiblePages()">
                <a class="page-link" (click)="goToPage(page)" [class.active]="currentPage === page">{{ page }}</a>
            </li>

            <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link" (click)="nextPage()" [attr.aria-disabled]="currentPage === totalPages">Next</a>
            </li>
        </ul>
    </nav>
</div>