<div class="rick-morty-container">
    <h2>Rick & Morty</h2>
    <form [formGroup]="searchForm" class="form-group">
        <input
            type="text"
            formControlName="searchTerm"
            class="form-control"
            placeholder="Search Character..."
            aria-label="Search Character"
        />

        <div class="error-message" *ngIf="searchForm.get('searchTerm')?.invalid && (searchForm.get('searchTerm')?.dirty )">
            <div *ngIf="searchForm.get('searchTerm')?.errors?.['pattern']">Only letters and numbers are allowed.</div>
        </div>
    </form>
</div>

